@mixin mQ($args) {
    @media screen and (max-width:$args) {
       @content; 
    }
}
@mixin navbar {
    @media screen and(max-width:768px) {
        display: none;
        &.active {
            @include mQ(768px) {
              position: fixed;
              top: 50px;
              right: 0px;
              background: #fff;
              width: 100%;
              display: block;
              height: 25%;
            }
          }   
    }
}
@mixin  navbarli {
    @media screen and (max-width: 768px) {
        text-align: right;
        font-size: 15px;
        padding: 0;
    }
}
@mixin hamburger {
    @media screen and (max-width:768px) {
        display: block;
        color: $mainColor;
        margin-left: 25px;
        cursor: pointer;
        font-size: 18px;
    }
}
@mixin  navbarChildOne {
    @media screen and (max-width:768px) {
        border: none;
        border-left:3px solid $mainColor ;
    }
}
@mixin singinListOne($color)  {
    @media screen and (max-width:768px) {
        background: none;
        color: $color;
        padding: 0 10px;
        border-radius: 0px;
    }
}
@mixin formModal {
    @media screen and (max-width:768px) {
        width: 300px;
        left: 35%;
    }
}
@mixin signinForm($bg, $height) {
    width: 400px;
  height: $height;
  background-color: $bg;
  margin: 50px auto;
}
@mixin signInInput($btn, $btnColor) {
      h3 {
      color: $mainColor;
      font-family: $raleway;
      font-size: 25px;
      font-weight: bolder;
      text-align: center;
      padding: 20px 0;
    }
    .profile-container {
      position:relative;
      label {
        color:$mainColor;
        font-weight:700;
        margin:0 auto;
        cursor:pointer;
        border:1px solid $mainColor;
        padding:10px 25px;
      }
      #profile   {
        opacity: 0;
        position:absolute;
        z-index:-1;
    }
    }

    div {
      margin-top: 20px;
      display: flex;
      position: relative;
      input {
        width: 250px;
        margin: 10px auto;
        background: none;
        outline: none;
        border: none;
        border-bottom: 1px solid #E0E0E0;
        font-size: 15px;
        font-family: $roboto;
        padding: 10px;
          &:focus {
            border-left: 5px solid $mainColor;
          }
      }

    }
    button {
      display: block;
      margin-left: auto;
      margin-top:35px;
      margin-right: 60px;
      width: 80px;
      height: 30px;
      background: $btn  ;
      border: 1px solid $mainColor;
      font-family: $roboto;
      border-radius: 5px;
      color: $btnColor;
      font-weight: bolder;
      outline: none;
      cursor: pointer;
      transition: .3s;
      &:hover {
        background: $mainColor;
        color: #fff;
      }
    }
}
@mixin signinHeader {
    background:$mainColor;
    color: #fff;
    font-family: $raleway;
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    padding: 20px 0;
}
@mixin  signinGoogle {
    width: 150px;
    display: flex;
    margin: 20px auto;
    button {
      background: none;
      outline: none;
      border: 1px solid #DB4437;
      padding: 10px 30px;
      font-family: $raleway;  
      font-weight: 600;
      color: #DB4437;
      font-size: 18px;
      cursor: pointer;
      &:hover {
        background-color: #DB4437;
        color: #fff;
      }
    }
}
@mixin signinFacebook {
  width: 150px;
  display: block;
  margin: 20px auto;
  button {
    background: #4267B2;
    border: none;
    outline: none;
    padding: 10px 20px;
    font-family: $raleway;  
    font-weight: 600;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
  }
}
@mixin signinOwnAccount {
width: 150px;
  display: block;
  margin: 20px auto;
  button {
    background: none;
    border: 1px solid #333333;
    outline: none;
    padding: 10px 25px;
    font-family: $raleway;  
    font-weight: 600;
    color: #333333;
    font-size: 18px;
    cursor: pointer;
        &:hover {
      background-color: #333333;
      color: #fff;
    }
  }
}

